/**
 * @file options.css
 * @update 2012/06/05 20:13
 * @author Paolo Rovelli
 */



caption {
	margin: 5px 0;
	font-size: 110%;
}

.center {
	text-align: center;
}

.indTP0 {
	margin-top: 0px;
	padding-top: 0px;
}
.indBT0 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.indLT5 {
	padding-left: 5px;
}
.indRG5 {
	padding-right: 5px;
}
.indLT10 {
	margin-left: 10px;
}
.indLT10 {
	padding-right: 10px;
}
.indLT18 {
	padding-left: 18px;
}



/* Font style */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}



/* Font color */

.black {
	color: #000000;
}

.darkgrey {
	color: #4F4F4F;
}

.red {
	color: red;
}

.scarlet {
	color: #800000;
}



/* Preferences */

#emailsecurityplus-Preferences .paneButtonIcon {margin-left: 35px; margin-right: 35px; width: 32px;}

#emailsecurityplus-Preferences .legend {
	margin-bottom: 10px;
	color: #A2A2A2;
	font-size: 80%;
}
#emailsecurityplus-Preferences .legendMulti {
	color: #A2A2A2;
	font-size: 80%;
}
