/**
 * @file buttons.css
 * @update 2012/06/05 20:13
 * @author Paolo Rovelli
 */



/* Button */

#emailsecurityplus-ScanButton {
	list-style-image: url("chrome://emailsecurityplus/skin/scanButton.png");
}
[iconsize="small"] #emailsecurityplus-ScanButton {
	list-style-image: url("chrome://emailsecurityplus/skin/scanButton_small.png");
}

#emailsecurityplus-SourceButton {
	list-style-image: url("chrome://emailsecurityplus/skin/sourceButton.png");
}
[iconsize="small"] #emailsecurityplus-SourceButton {
	list-style-image: url("chrome://emailsecurityplus/skin/sourceButton_small.png");
}



/* Statusbar */

#emailsecurityplus-SpamCounterStat {
	color: #800000;
}



/* ThreadCol */

#emailsecurityplus-SpamLevelCol, treechildren::-moz-tree-image(emailsecurityplus-SpamStatus) {
	list-style-image: url("chrome://emailsecurityplus/skin/spamLevel.png") !important;
}
#emailsecurityplus-SpamLevelCol {
	-moz-image-region: rect(0px 12px 12px 0px);
	-moz-binding: url("chrome://global/content/bindings/tree.xml#treecol-image");
	padding: 0px 5px;
	width: 24px;
	max-width: 24px;
}
