/**
 * @file scan.css
 * @update 2012/06/18 23:48
 * @author Paolo Rovelli
 */



caption {
	margin: 5px 0;
	font-size: 110%;
}

.center {
	text-align: center;
}



/* Font style */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}



/* Font color */

.black {
	color: #000000;
}
.darkgrey {
	color: #4F4F4F;
}
.red {
	color: red;
}
.scarlet {
	color: #800000;
}



/* Scan window */

.title {
	font-weight: bold;
	font-size: large;
}

.image {
	width: 48px;
	height: 48px;
}

.text {
	min-width: 352px;
}

#emailsecurityplus-ScanHead {
	min-width: 800px;
}

#emailsecurityplus-ScanBox {
	margin-top: 8px;
	min-width: 400px;
}

#emailsecurityplus-TimeBox {
	text-align: right;
	min-width: 400px;
}

#emailsecurityplus-SenderBox {
	min-width: 600px;
}

#emailsecurityplus-SpamBox {
	text-align: right;
	min-width: 200px;
}

#emailsecurityplus-ScanProgress {
	width: 800px;
}

#emailsecurityplus-SecurityInfo {
	text-align: left;
	min-width: 800px;
}
