/**
 * @file scan.css
 * @update 2012/06/18 23:48
 * @author Paolo Rovelli
 */


caption {
	margin: 5px 0;
	font-size: 150%;
	font-weight: bold;
}

.center {
	text-align: center;
}

.indLT0 {
	margin-left: 0px;
	padding-left: 0px;
}
.indRG0 {
	margin-right: 0px;
	padding-right: 0px;
}


/* Font style */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.size125 {
	font-size: 125%;
}


/* Font color */

.black {
	color: #000000;
}
.darkgrey {
	color: #4F4F4F;
}
.red {
	color: red;
}
.scarlet {
	color: #800000;
}


/* Scan window */

.title {
	font-weight: bold;
	font-size: 200%;
}

.image {
	width: 48px;
	height: 48px;
}

.text {
	min-width: 352px;
}

#emailsecurityplus-ScanHead, #emailsecurityplus-SecurityInfo, #emailsecurityplus-ScanSummary {
	padding: 10px;
	text-align: left;
	min-width: 800px;
}

#emailsecurityplus-ScanProgress {
	padding: 10px;
	text-align: center;
	min-width: 800px;
}

#emailsecurityplus-ScanHead #emailsecurityplus-ScanBox {
	min-width: 400px;
}

#emailsecurityplus-ScanHead #emailsecurityplus-TimeBox {
	text-align: right;
	min-width: 400px;
}

#emailsecurityplus-ScanProgress #emailsecurityplus-ProgressBox {
	width: 800px;
}

#emailsecurityplus-SecurityInfo #emailsecurityplus-SenderBox {
	min-width: 600px;
}

#emailsecurityplus-SecurityInfo #emailsecurityplus-SpamBox {
	text-align: right;
	min-width: 200px;
}

#emailsecurityplus-ScanSummary #emailsecurityplus-SummaryBox {
	font-size: 125%;
}
